@tailwind base;
@tailwind components;
@tailwind utilities;

body,
input,
select {
  @apply dark:bg-slate-700 dark:text-slate-200;
}

main {
  block-size: 100vh;
  contain: inline-size;
}

#container {
  block-size: 100%;
  overflow: hidden;
}

div[role='gridcell'],
div[role='columnheader'] {
  border-inline-end: 1px solid var(--rdg-border-color);
}

div[role='columnheader'] > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
